# Common

# Flders
.vscode/
dist/
node_modules/

# Files
yarn.lock
package-lock.json


# Homebridge

# Folders
accessories/
backups/
persist/

# Files
.uix-*
auth.json
config.json
homebridge.log
config.schema.json
adguardhome_timer.config
src/glinet.ts
adguardhome-timer.config
